In [4]:
import pandas as pd

## Review:   Pandas Boolean Indexing

### Warmup 1: Read the data from "IMDB-Movie-Data.csv" into a pandas DataFrame called "movies"

In [8]:
movies = pd.read_csv("new_movie_data.csv")
movies

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,333.13
1,Prometheus,"Adventure,Mystery,Sci-Fi",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael ...",2012,124,7.0,126.46M
2,Split,"Horror,Thriller",M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,138.12M
3,Sing,"Animation,Comedy,Family",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,270.32
4,Suicide Squad,"Action,Adventure,Fantasy",David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,325.02
...,...,...,...,...,...,...,...,...
1063,Guardians of the Galaxy Vol. 2,"Action, Adventure, Comedy",James Gunn,"Chris Pratt, Zoe Saldana, Dave Bautista, Vin D...",2017,136,7.6,389.81
1064,Baby Driver,"Action, Crime, Drama",Edgar Wright,"Ansel Elgort, Jon Bernthal, Jon Hamm, Eiza Gon...",2017,113,7.6,107.83
1065,Only the Brave,"Action, Biography, Drama",Joseph Kosinski,"Josh Brolin, Miles Teller, Jeff Bridges, Jenni...",2017,134,7.6,18.34
1066,Incredibles 2,"Animation, Action, Adventure",Brad Bird,"Craig T. Nelson, Holly Hunter, Sarah Vowell, H...",2018,118,7.6,608.58
1067,A Star Is Born,"Drama, Music, Romance",Bradley Cooper,"Lady Gaga, Bradley Cooper, Sam Elliott, Greg G...",2018,136,7.6,215.29

In [9]:
# Warmup 2: Which movie released in 2016 has the longest "Runtime" ?
movies[(movies["Runtime"] == movies["Runtime"].max() )]

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue
1038,The Irishman,"Biography, Crime, Drama",Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",2019,209,7.9,7

In [23]:
# Warmup 3: Which movies released in 2020 have a rating higher than 8 ? 
movies[ (movies["Year"] == 2020)  &  (movies["Rating"]  > 8) ]

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue
998,Hamilton,"Biography, Drama, History",Thomas Kail,"Lin-Manuel Miranda, Phillipa Soo, Leslie Odom ...",2020,160,8.6,612.82
1000,Soorarai Pottru,Drama,Sudha Kongara,"Suriya, Madhavan, Paresh Rawal, Aparna Balamurali",2020,153,8.6,5.93
1022,Soul,"Animation, Adventure, Comedy",Pete Docter,"Kemp Powers, Jamie Foxx, Tina Fey, Graham Norton",2020,100,8.1,121

In [26]:
# Warmup 4: Of all the movies with a short (below-average) "Runtime", which has the highest "Rating"?
short_movies = movies [ movies["Runtime"] < movies["Runtime"].mean()]
short_movies[short_movies["Rating"] == short_movies["Rating"].max()]

,Title,Genre,Director,Cast,Year,Runtime,Rating,Revenue
96,Kimi no na wa,"Animation,Drama,Fantasy",Makoto Shinkai,"Ryûnosuke Kamiki, Mone Kamishiraishi, Ryô Nari...",2016,106,8.6,4.68
249,The Intouchables,"Biography,Comedy,Drama",Olivier Nakache,"François Cluzet, Omar Sy, Anne Le Ny, Audrey F...",2011,112,8.6,13.18

In [41]:
# use process csv to read the file and print out the header
import csv

# Modified from https://automatetheboringstuff.com/chapter14/
def process_csv(filename):
    example_file = open(filename, encoding="utf-8")
    example_reader = csv.reader(example_file)
    example_data = list(example_reader)
    example_file.close()
    return example_data

data = process_csv("review1.csv")

# get the header
header = data[0]
header

['review id',
 'review title',
 'review text',
 'review rating',
 'review do_recommend',
 'review num_helpful',
 'review date']

# Lecture 30: Web 2 - Generating HTML

Learning Objectives:

- Type by hand a basic HTML page with a list, a link, and a table
- Convert a Python list into an HTML unordered list
- Convert a Python dictionary of URLs into an HTML of hyperlinks
- Convert a Pandas DataFrame into an HTML table

### Part A: Type by hand a basic HTML page with a list, a link, and a table

Check out the lecture slides for a brief overview of HTML

**Markdown and Jupyter Notebook will recognize HTML tags**

### Basic Tags : i, p, b, br, h#
#### Most tags have an open and a close

<i>Make a new Jupyter Notebook text file in this directory.</i>
<p> The head,  body, and html tags are not necessary 
for a browswer to read a file.</p>

<h2> Happy Friday!! </h2>

It's going to be a <b>fun</b> day <br>

Note that br does not have a close tag

### Hyperlink tags have an anchor tag and a href attribute
`a`: anchor

`href=` : hyper references 


Andy's favorite restaurant on campus is 
<a href="https://shortstackeats.com/">Short Stack Eatery</a>

My favorite restaurant is

### Unordered List Tags
`ul` : starts an unordered list

`li` : add a list item

Ordered list example:

<ul> Favorite Campus Buildings:
    <li> WIDS
     <li> Education
         <li> The Nick
 </ul>

### HTML Table Tags

`table`: start and end of a table

`tr`: start and end of a new row

`th`: a cell in the top row ... is bold

`td`: a cell inside a row

Add a few rows to the table below:

<table>
  <tr>
    <th>State</th>
    <th>Capital City</th>
  </tr>
  <tr>
    <td>Wisconsin</td>
    <td>Madison</td>
  </tr>
  <tr>
    <td>Indiana</td>
    <td>Indianapolis</td>
  </tr>
   <tr>
    <td>Illinois</td>
    <td>Springfield</td>
  </tr>
</table>

### Part B: Convert a Python list into an HTML unordered list

Given:  

`health_tips = ["Eat Healthy", "Exercise", "Relax", "Sleep"]`
    
Covert this Python list into a HTML ordered list:

<ul>
    <li>Eat Healthy</li>      
       <li>Exercise</li>
  <li>Relax</li>
       <li>Sleep</li>
</ul>

In [29]:
def list_to_html(my_list, path):
    # print(path)
    # open the file for writing
    f = open(path, "w")
    
    # write the <ul> and \n
    f.write("<ul>\n")
    
    # write each item in the list with a \n after each </li>
    for item in my_list:
        f.write("<li>" + item + "</li>\n")

    # write the </ul> and \n
    f.write("</ul>\n")
    
    # close the file
    f.close()
    
dir_name = "lec32_files"
todo_list = ["Eat Healthy", "Exercise", "Relax", "Sleep"]
list_to_html(todo_list, "todolist.html")

# check in the Jupyter Notebook parent tab that you made your document

### Part C. Convert a Dictionary of Web Site Name, URL into a HTML page of hyperlinks

In [32]:
fav_sites = { "National Weather Service": "http://weather.gov",
            "Short Stack Eatery": "https://shortstackeats.com/",
            }

In [38]:
# first, let's just make a single string
html_string = ''
for key in fav_sites:
    html_string += '<a href="' + fav_sites[key] + '">' + key + '</a><br>'
print(html_string)

<a href="http://weather.gov">National Weather Service</a><br><a href="https://shortstackeats.com/">Short Stack Eatery</a><br>

<a href="http://weather.gov">National Weather Service</a><br><a href="https://shortstackeats.com/">Short Stack Eatery</a><br>

In [39]:
# now that we know it works, open a file for writing and write the string to a file
f = open("mylinks.html", "w")
f.write(html_string)
f.close()

### Part D:  Convert a Pandas Data Frame into a HTML table
Is there an easy way to make a HTML table?

Yes, Pandas has a DataFrame method `.tohtml()`

In [45]:
# convert the movies DataFrame to html
movies_html = movies.to_html()

# write it to a file
f = open("movies_table.html", "w")
f.write(movies_html)
f.close()

### Demo: Read a CSV file into a  dictionary, then convert into a series of web pages

**Given:  this CSV file: review1.csv

<code>
review id,review title,review text,review rating,review do_recommend,review num_helpful,review date

10101,A charger,It seems to work just like any other usb plug in charger.,5,True,0,2017-01-02

99904,amazon power fast usb charger,got this for my kindle 7 tablet . Does an excellent job charging the kindle fire 7 a lot faster than the one it came with the kindle fire,5,True,2,2016-06-03

89604,Amazon powerfast wall charger,Best kindle charger ever. Took 30 minutes to being my kindle back to life.,5,True,0,2016-11-21

58704,correct plug for kindle,Quickly charges kindle so son can use it. Worked great right out of the package,5,True,0,2016-10-14
</code>

Generate the following:

sub-directory
 - reviews.html
 - data
    - 10115.html
    - 10231.html
    - etc....

In [47]:
import csv, os
def csv_to_html(dir_name, csv_path, html_file_name):
    
    # part 1: read the csv file and into a dictionary using process_csv
    f = open(os.path.join(dir_name, csv_path))
    data = process_csv(os.path.join(dir_name, csv_path))
    f.close()
    header = data[0]
    #print(header)
    rows = data[1:]

    
    # part 2: make a directory in dir_name called data_html for all the .html files
    if not os.path.exists(os.path.join(dir_name, "data")):
        os.mkdir(os.path.join(dir_name, "data"))
        
    # make a new html file to store links to all the reviews
    reviews_file = open(os.path.join(dir_name,html_file_name), "w")
    reviews_file.write("<ul>\n") # uncomment the 2 lines at the end of the function

    # for each row in the CSV file, 
    for row in rows: 
        #print(row)
        # part 3: grab the "review id", "review title" , and "review text" of this row
        review_id = row[0]
        title = row[1]
        text = row[2]
        #print(review_id, title, text)

        # part 4: make a HTML file for each review id with name <reviewID>.html"
        review_path = os.path.join(dir_name,"data", str(review_id) + ".html")
        #print(review_path)
        html_file = open(review_path, "w")
        html_file.write("<h2>{}</h2><p>{}</p>".format(title, text))
        html_file.close()
    
        # part 5: generate a line in reviews.html  which has link to each review html page <rid>.html
        short_path = os.path.join("data", str(review_id) + ".html")
        #print(short_path)
        reviews_file.write('<li><a href = "{}">{}</a>'.format(short_path, str(review_id) + ":" + str(title)) + "<br>\n")
    reviews_file.write("</ul>\n")
    reviews_file.close()  


dir_name = "lec30_files"
csv_to_html(dir_name, "review1.csv", "reviews.html")

FileNotFoundError: [Errno 2] No such file or directory: 'lec30_files/review1.csv'