In [8]:
def fact(n):
    if n == 0:
        return 1
    return n * fact(n-1)
fact(5)

120

In [9]:
def fib(n):
    if n < 2:
        return n
    return fib(n-1) + fib(n-2)

fib(6)

8

In [17]:
def f(n):
    print(n)
    if n < 9:
        f(n + 1)
# what does f(7) print?
f(7)

7
8
9

In [19]:
def g(n):
    if n < 9:
        g(n + 1)    
    print(n)
# what does f(7) print?
g(7)

9
8
7

In [22]:
def M(n):
    print(n)
    if n > 1:
        M(n-1)
        print(n)
# what does M(3) print?
M(3)

3
2
1
2
3

In [29]:
B = []
def f(A):
    if len(A) > 0:
        f(A[1:])
        B.append(A[0])
f([2, 5, 6, 3])
# what is in B?
B

[3, 6, 5, 2]

In [34]:
class Node:
    def __init__(self, val):
        self.val = val
        self.next = None
        
    def __getitem__(self, idx):
        if idx == 0:
            return self.val
        return self.next[idx-1]
    
A = Node(3)
B = Node(5)
C = Node(7)
A.next = B
B.next = C

A[1]

5

In [59]:
class A:
    def f(self):
        print("A.f")
        
    def g(self):
        print("A.g")

class B(A):
    def g(self):
        print("B.g")

class C(A):
    def h(self):
        print("C.h")

class D(A):
    def h(self):
        print("D.h")
    
    def __str__(self):
        print("D.__str__")
        return ""

class E1(C, D):
    def f(self):
        print("E1.f")
        
class E2(D, C):
    pass
        
class M(B, E1):
    pass
        
w = C()
x = M()
y = E1()
z = E2()
        
x.g()
x.f()
print(x)
print(w)
y.h()
z.h()

B.g
E1.f
D.__str__

<__main__.C object at 0x10f406f28>
C.h
D.h

In [63]:
type(x).__mro__

(__main__.M,
 __main__.B,
 __main__.E1,
 __main__.C,
 __main__.D,
 __main__.A,
 object)

In [67]:
print(type(w) == A)
print(type(w) == C)
print(isinstance(w, A))
print(isinstance(w, C))
isinstance(B, A)

False
True
True
True

False

In [24]:
from collections import abc

class Node(abc.Sequence):
    def __init__(self, val):
        self.val = val
        self.next = None
        
    def __getitem__(self, idx):
        if idx < 0:
            idx = len(self) + idx

        if idx == 0:
            # base case
            return self.val
        else:
            if self.next == None:
                raise IndexError()
            
            # recursive case
            return self.next[idx-1]
        
    def append(self, val):
        last_node = self
        while last_node.next != None:
            last_node = last_node.next
        last_node.next = Node(val)
            
    def __repr__(self):
        if self.next == None:
            return repr(self.val)
        else:
            return repr(self.val)+","+repr(self.next)

    def __len__(self):
        if self.next == None:
            # base case: I'm the only Node!  Length must be 1
            return 1
        else:
            # recursive case: total length is the length of next plus 1
            return len(self.next) + 1

A = Node(3)
A.append(4)
A

3,4

In [25]:
regular_list = ["A", "B", "C", "D"]
neg_idx = -2
pos_idx = 4 + neg_idx # where did 4 come from?
print(regular_list[neg_idx])
print(regular_list[pos_idx])

C
C

In [26]:
L = Node("A")
L.append("B")
L.append("C")
print(L)

'A','B','C'

In [27]:
L[-1]

'C'

In [30]:
L = Node("A")
L.append("B")
L.append("B")
L.append("C")
L.append("D")
print("List:", L)
print("A is at index", L.index("A"))
print("C is at index", L.index("C"))
print("B occurs", L.count("B"), "times")
print("D occurs", L.count("D"), "times")

List: 'A','B','B','C','D'
A is at index 0
C is at index 3
B occurs 2 times
D occurs 1 times

In [29]:
for x in L:
    print(x)

A
B
B
C
D

In [31]:
! wget https://github.com/tylerharter/cs320/raw/master/s20/p2/mmt_gtfs.zip

--2020-02-09 17:57:53--  https://github.com/tylerharter/cs320/raw/master/s20/p2/mmt_gtfs.zip
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/tylerharter/cs320/master/s20/p2/mmt_gtfs.zip [following]
--2020-02-09 17:57:54--  https://raw.githubusercontent.com/tylerharter/cs320/master/s20/p2/mmt_gtfs.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 199.232.28.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|199.232.28.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8274970 (7.9M) [application/zip]
Saving to: ‘mmt_gtfs.zip’

mmt_gtfs.zip        100%[===================>]   7.89M  1.48MB/s    in 7.0s

2020-02-09 17:58:02 (1.13 MB/s) - ‘mmt_gtfs.zip’ saved [8274970/8274970]

In [35]:
from zipfile import ZipFile

with ZipFile('mmt_gtfs.zip') as zf:
    for info in zf.infolist():
        print(info.filename, info.file_size, info.compress_size)

agency.txt 363 204
calendar.txt 2450 400
calendar_dates.txt 3988 602
extended_data_dictionary.txt 6546 2221
fare_attributes.txt 126 99
fare_rules.txt 1024 253
feed_info.txt 298 178
linked_datasets.txt 251 128
routes.txt 33156 2952
shapes.txt 10341920 2291431
stop_features.txt 9566 2388
stop_times.txt 36909825 5712510
stops.txt 401411 89220
terms_of_use.txt 5993 2491
transfers.txt 480 200
translations.txt 9863 666
trips.txt 1399179 167219

In [43]:
num = 0
den = 0

for info in zf.infolist():
    orig_mb = info.file_size / (1024**2) # there are 1024**2 bytes in a MB
    ratio = info.file_size / info.compress_size
    
    num += info.file_size
    den += info.compress_size
    
    s = "file {name:s}, {mb:.3f} MB (uncompressed), {ratio:.1f} compression ratio"
    print(s.format(name=info.filename, mb=orig_mb, ratio=ratio))

file agency.txt, 0.000 MB (uncompressed), 1.8 compression ratio
file calendar.txt, 0.002 MB (uncompressed), 6.1 compression ratio
file calendar_dates.txt, 0.004 MB (uncompressed), 6.6 compression ratio
file extended_data_dictionary.txt, 0.006 MB (uncompressed), 2.9 compression ratio
file fare_attributes.txt, 0.000 MB (uncompressed), 1.3 compression ratio
file fare_rules.txt, 0.001 MB (uncompressed), 4.0 compression ratio
file feed_info.txt, 0.000 MB (uncompressed), 1.7 compression ratio
file linked_datasets.txt, 0.000 MB (uncompressed), 2.0 compression ratio
file routes.txt, 0.032 MB (uncompressed), 11.2 compression ratio
file shapes.txt, 9.863 MB (uncompressed), 4.5 compression ratio
file stop_features.txt, 0.009 MB (uncompressed), 4.0 compression ratio
file stop_times.txt, 35.200 MB (uncompressed), 6.5 compression ratio
file stops.txt, 0.383 MB (uncompressed), 4.5 compression ratio
file terms_of_use.txt, 0.006 MB (uncompressed), 2.4 compression ratio
file transfers.txt, 0.000 MB (uncompressed), 2.4 compression ratio
file translations.txt, 0.009 MB (uncompressed), 14.8 compression ratio
file trips.txt, 1.334 MB (uncompressed), 8.4 compression ratio

In [44]:
num/den

5.9380487170443415

In [45]:
!ls -lah mmt_gtfs.zip

-rw-r--r--  1 trh  staff   7.9M Feb  9 17:58 mmt_gtfs.zip

In [49]:
with ZipFile('mmt_gtfs.zip') as zf:
    with zf.open("calendar.txt") as f:
        print(f.read())

b'service_id,service_name,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date\r\n88_D24,December 24,0,0,0,0,0,0,0,20191201,20200229\r\n88_D31,December 31,0,0,0,0,0,0,0,20191201,20200229\r\n88_HOL,Holiday,0,0,0,0,0,0,0,20191201,20200229\r\n88_MWK,Modified,0,0,0,0,0,0,0,20191201,20200229\r\n88_MWK:R,Recess Modified,0,0,0,0,0,0,0,20191201,20200229\r\n88_SAT,Saturday,0,0,0,0,0,1,0,20191201,20200229\r\n88_SAT:L,Latenight Saturday,0,0,0,0,0,1,0,20191201,20200229\r\n88_SAT:R,Recess Saturday,0,0,0,0,0,0,0,20191201,20200229\r\n88_SAT:S,Standard Saturday,0,0,0,0,0,1,0,20191201,20200229\r\n88_SUN,Sunday,0,0,0,0,0,0,1,20191201,20200229\r\n88_SUN:L,Latenight Sunday,0,0,0,0,0,0,1,20191201,20200229\r\n88_SUN:R,Recess Sunday,0,0,0,0,0,0,0,20191201,20200229\r\n88_SUN:S,Standard Sunday,0,0,0,0,0,0,1,20191201,20200229\r\n88_WKD,Weekday,1,1,1,1,1,0,0,20191201,20200229\r\n88_WKD:G,Weekday Extra,1,1,1,1,1,0,0,20191201,20200229\r\n88_WKD:L#6,Latenight Mon-Thu,1,1,1,1,0,0,0,20191201,20200229\r\n88_WKD:L=6,Latenight Fri only,0,0,0,0,1,0,0,20191201,20200229\r\n88_WKD:R,Recess Weekday,0,0,0,0,0,0,0,20191201,20200229\r\n88_WKD:S,Standard Weekday,1,1,1,1,1,0,0,20191201,20200229\r\n88_WKD:S#6,Standard Mon-Thu,1,1,1,1,0,0,0,20191201,20200229\r\n88_WKD:S=6,Standard Fri only,0,0,0,0,1,0,0,20191201,20200229\r\n89_D24,December 24,0,0,0,0,0,0,0,20200301,20200509\r\n89_D31,December 31,0,0,0,0,0,0,0,20200301,20200509\r\n89_HOL,Holiday,0,0,0,0,0,0,0,20200301,20200509\r\n89_MWK,Modified,0,0,0,0,0,0,0,20200301,20200509\r\n89_MWK:R,Recess Modified,0,0,0,0,0,0,0,20200301,20200509\r\n89_SAT,Saturday,0,0,0,0,0,1,0,20200301,20200509\r\n89_SAT:L,Latenight Saturday,0,0,0,0,0,1,0,20200301,20200509\r\n89_SAT:R,Recess Saturday,0,0,0,0,0,0,0,20200301,20200509\r\n89_SAT:S,Standard Saturday,0,0,0,0,0,1,0,20200301,20200509\r\n89_SUN,Sunday,0,0,0,0,0,0,1,20200301,20200509\r\n89_SUN:L,Latenight Sunday,0,0,0,0,0,0,1,20200301,20200509\r\n89_SUN:R,Recess Sunday,0,0,0,0,0,0,0,20200301,20200509\r\n89_SUN:S,Standard Sunday,0,0,0,0,0,0,1,20200301,20200509\r\n89_WKD,Weekday,1,1,1,1,1,0,0,20200301,20200509\r\n89_WKD:G,Weekday Extra,1,1,1,1,1,0,0,20200301,20200509\r\n89_WKD:L#6,Latenight Mon-Thu,1,1,1,1,0,0,0,20200301,20200509\r\n89_WKD:L=6,Latenight Fri only,0,0,0,0,1,0,0,20200301,20200509\r\n89_WKD:R,Recess Weekday,0,0,0,0,0,0,0,20200301,20200509\r\n89_WKD:S,Standard Weekday,1,1,1,1,1,0,0,20200301,20200509\r\n89_WKD:S#6,Standard Mon-Thu,1,1,1,1,0,0,0,20200301,20200509\r\n89_WKD:S=6,Standard Fri only,0,0,0,0,1,0,0,20200301,20200509'

In [50]:
import pandas as pd

with ZipFile('mmt_gtfs.zip') as zf:
    with zf.open("calendar.txt") as f:
        df = pd.read_csv(f)

df.head()

,service_id,service_name,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,88_D24,December 24,0,0,0,0,0,0,0,20191201,20200229
1,88_D31,December 31,0,0,0,0,0,0,0,20191201,20200229
2,88_HOL,Holiday,0,0,0,0,0,0,0,20191201,20200229
3,88_MWK,Modified,0,0,0,0,0,0,0,20191201,20200229
4,88_MWK:R,Recess Modified,0,0,0,0,0,0,0,20191201,20200229

In [52]:
df[df["saturday"] == 1]

,service_id,service_name,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
5,88_SAT,Saturday,0,0,0,0,0,1,0,20191201,20200229
6,88_SAT:L,Latenight Saturday,0,0,0,0,0,1,0,20191201,20200229
8,88_SAT:S,Standard Saturday,0,0,0,0,0,1,0,20191201,20200229
26,89_SAT,Saturday,0,0,0,0,0,1,0,20200301,20200509
27,89_SAT:L,Latenight Saturday,0,0,0,0,0,1,0,20200301,20200509
29,89_SAT:S,Standard Saturday,0,0,0,0,0,1,0,20200301,20200509