In [1]:
x = 5

In [2]:
x

5

In [3]:
x = 6

In [5]:
import pandas as pd
from pandas import Series, DataFrame
s = Series(["A", "B", "C", "D"])
letters = Series(["x", "y", "z"], index=[1, 0, 3])

In [6]:
s

0    A
1    B
2    C
3    D
dtype: object

In [7]:
letters

1    x
0    y
3    z
dtype: object

In [8]:
s[-2:]

2    C
3    D
dtype: object

In [9]:
s + s

0    AA
1    BB
2    CC
3    DD
dtype: object

In [10]:
s + letters

0     Ay
1     Bx
2    NaN
3     Dz
dtype: object

In [11]:
s[1:] + s[:-1]

0    NaN
1     BB
2     CC
3    NaN
dtype: object

In [12]:
s1 = Series([1,2,3])
s2 = Series(["A", "B", "C"])

In [13]:
s1 + s2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
v = Series([-1, 1, 200, 191, 4])

In [15]:
v < 0

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [16]:
v * v == 1

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [17]:
v[v > 100]

2    200
3    191
dtype: int64

In [18]:
v[v % 2 == 0]

2    200
4      4
dtype: int64

In [19]:
v

0     -1
1      1
2    200
3    191
4      4
dtype: int64

In [20]:
v[(v > 0) & (v < 100)]

1    1
4    4
dtype: int64

In [21]:
name_column = Series(["Alice", "Bob", "Cindy", "Dan"])
score_column = Series([100, 150, 160, 120])

table = DataFrame({'name': name_column, 'score': score_column})

In [22]:
table

    name  score
0  Alice    100
1    Bob    150
2  Cindy    160
3    Dan    120

In [23]:
table["name"]

0    Alice
1      Bob
2    Cindy
3      Dan
Name: name, dtype: object

In [24]:
table["score"]

0    100
1    150
2    160
3    120
Name: score, dtype: int64

In [25]:
table.name

0    Alice
1      Bob
2    Cindy
3      Dan
Name: name, dtype: object

In [26]:
table.score

0    100
1    150
2    160
3    120
Name: score, dtype: int64

In [27]:
table.loc[0]

name     Alice
score      100
Name: 0, dtype: object

In [28]:
table[0]

KeyError: 0

In [29]:
table.loc[1]

name     Bob
score    150
Name: 1, dtype: object

In [30]:
table

    name  score
0  Alice    100
1    Bob    150
2  Cindy    160
3    Dan    120

In [31]:
table.loc[1, "score"]

150

In [32]:
table.loc[1, "name"]

'Bob'

In [33]:
table.loc[1, "score"] = 200

In [34]:
table

    name  score
0  Alice    100
1    Bob    200
2  Cindy    160
3    Dan    120

In [35]:
movies = pd.read_csv("IMDB-Movie-Data.csv")
movies

     Index                                    Title   ...    Rating  Revenue
0        0                  Guardians of the Galaxy   ...       8.1   333.13
1        1                               Prometheus   ...       7.0  126.46M
2        2                                    Split   ...       7.3  138.12M
3        3                                     Sing   ...       7.2   270.32
4        4                            Suicide Squad   ...       6.2   325.02
5        5                           The Great Wall   ...       6.1    45.13
6        6                               La La Land   ...       8.3  151.06M
7        7                                 Mindhorn   ...       6.4        0
8        8                       The Lost City of Z   ...       7.1     8.01
9        9                               Passengers   ...       7.0  100.01M
10      10  Fantastic Beasts and Where to Find Them   ...       7.5   234.02
11      11                           Hidden Figures   ...       7.8  169.27M
12      12                                Rogue One   ...       7.9   532.17
13      13                                    Moana   ...       7.7   248.75
14      14                                 Colossal   ...       6.4     2.87
15      15                  The Secret Life of Pets   ...       6.6   368.31
16      16                            Hacksaw Ridge   ...       8.2    67.12
17      17                             Jason Bourne   ...       6.7  162.16M
18      18                                     Lion   ...       8.1    51.69
19      19                                  Arrival   ...       8.0   100.5M
20      20                                     Gold   ...       6.7     7.22
21      21                    Manchester by the Sea   ...       7.9     47.7
22      22                           Hounds of Love   ...       6.7        0
23      23                                   Trolls   ...       6.5  153.69M
24      24             Independence Day: Resurgence   ...       5.3  103.14M
25      25                          Paris pieds nus   ...       6.8        0
26      26                  Bahubali: The Beginning   ...       8.3      6.5
27      27                               Dead Awake   ...       4.7     0.01
28      28                                 Bad Moms   ...       6.2  113.08M
29      29                         Assassin's Creed   ...       5.9    54.65
..     ...                                      ...   ...       ...      ...
968    968                        Texas Chainsaw 3D   ...       4.8   34.33M
969    969                                Disturbia   ...       6.9    80.05
970    970                             Rock of Ages   ...       5.9    38.51
971    971                                 Scream 4   ...       6.2    38.18
972    972                           Queen of Katwe   ...       7.4     8.81
973    973               My Big Fat Greek Wedding 2   ...       6.0    59.57
974    974                              Dark Places   ...       6.2        0
975    975                            Amateur Night   ...       5.0        0
976    976           It's Only the End of the World   ...       7.0        0
977    977                       The Skin I Live In   ...       7.6     3.19
978    978                     Miracles from Heaven   ...       7.0    61.69
979    979                                    Annie   ...       5.3    85.91
980    980                      Across the Universe   ...       7.4    24.34
981    981                            Let's Be Cops   ...       6.5    82.39
982    982                                      Max   ...       6.8    42.65
983    983                            Your Highness   ...       5.6    21.56
984    984                      Final Destination 5   ...       5.9    42.58
985    985                             Endless Love   ...       6.3    23.39
986    986                                  Martyrs   ...       7.1        0
987    987                                    Selma   ...       7.5    52.07
988    988           Underworld: Rise of the Lycans   ...       6.6     45.8
989    989                         Taare Zameen Par   ...       8.5      1.2
990    990                     Take Me Home Tonight   ...       6.3     6.92
991    991                 Resident Evil: Afterlife   ...       5.9    60.13
992    992                                Project X   ...       6.7    54.72
993    993                     Secret in Their Eyes   ...       6.2        0
994    994                          Hostel: Part II   ...       5.5    17.54
995    995                   Step Up 2: The Streets   ...       6.2    58.01
996    996                             Search Party   ...       5.6        0
997    997                               Nine Lives   ...       5.3    19.64

[998 rows x 9 columns]

In [36]:
len(movies)

998

In [37]:
movies.head()

   Index                    Title   ...    Rating  Revenue
0      0  Guardians of the Galaxy   ...       8.1   333.13
1      1               Prometheus   ...       7.0  126.46M
2      2                    Split   ...       7.3  138.12M
3      3                     Sing   ...       7.2   270.32
4      4            Suicide Squad   ...       6.2   325.02

[5 rows x 9 columns]

In [38]:
movies.head(10)

   Index                    Title   ...    Rating  Revenue
0      0  Guardians of the Galaxy   ...       8.1   333.13
1      1               Prometheus   ...       7.0  126.46M
2      2                    Split   ...       7.3  138.12M
3      3                     Sing   ...       7.2   270.32
4      4            Suicide Squad   ...       6.2   325.02
5      5           The Great Wall   ...       6.1    45.13
6      6               La La Land   ...       8.3  151.06M
7      7                 Mindhorn   ...       6.4        0
8      8       The Lost City of Z   ...       7.1     8.01
9      9               Passengers   ...       7.0  100.01M

[10 rows x 9 columns]

In [39]:
titles = movies["Title"]
titles

0                      Guardians of the Galaxy
1                                   Prometheus
2                                        Split
3                                         Sing
4                                Suicide Squad
5                               The Great Wall
6                                   La La Land
7                                     Mindhorn
8                           The Lost City of Z
9                                   Passengers
10     Fantastic Beasts and Where to Find Them
11                              Hidden Figures
12                                   Rogue One
13                                       Moana
14                                    Colossal
15                     The Secret Life of Pets
16                               Hacksaw Ridge
17                                Jason Bourne
18                                        Lion
19                                     Arrival
20                                        Gold
21                       Manchester by the Sea
22                              Hounds of Love
23                                      Trolls
24                Independence Day: Resurgence
25                             Paris pieds nus
26                     Bahubali: The Beginning
27                                  Dead Awake
28                                    Bad Moms
29                            Assassin's Creed
                        ...
968                          Texas Chainsaw 3D
969                                  Disturbia
970                               Rock of Ages
971                                   Scream 4
972                             Queen of Katwe
973                 My Big Fat Greek Wedding 2
974                                Dark Places
975                              Amateur Night
976             It's Only the End of the World
977                         The Skin I Live In
978                       Miracles from Heaven
979                                      Annie
980                        Across the Universe
981                              Let's Be Cops
982                                        Max
983                              Your Highness
984                        Final Destination 5
985                               Endless Love
986                                    Martyrs
987                                      Selma
988             Underworld: Rise of the Lycans
989                           Taare Zameen Par
990                       Take Me Home Tonight
991                   Resident Evil: Afterlife
992                                  Project X
993                       Secret in Their Eyes
994                            Hostel: Part II
995                     Step Up 2: The Streets
996                               Search Party
997                                 Nine Lives
Name: Title, Length: 998, dtype: object

In [40]:
titles.head()

0    Guardians of the Galaxy
1                 Prometheus
2                      Split
3                       Sing
4              Suicide Squad
Name: Title, dtype: object

In [41]:
title_list = list(titles)
title_list

['Guardians of the Galaxy',
 'Prometheus',
 'Split',
 'Sing',
 'Suicide Squad',
 'The Great Wall',
 'La La Land',
 'Mindhorn',
 'The Lost City of Z',
 'Passengers',
 'Fantastic Beasts and Where to Find Them',
 'Hidden Figures',
 'Rogue One',
 'Moana',
 'Colossal',
 'The Secret Life of Pets',
 'Hacksaw Ridge',
 'Jason Bourne',
 'Lion',
 'Arrival',
 'Gold',
 'Manchester by the Sea',
 'Hounds of Love',
 'Trolls',
 'Independence Day: Resurgence',
 'Paris pieds nus',
 'Bahubali: The Beginning',
 'Dead Awake',
 'Bad Moms',
 "Assassin's Creed",
 'Why Him?',
 'Nocturnal Animals',
 'X-Men: Apocalypse',
 'Deadpool',
 'Resident Evil: The Final Chapter',
 'Captain America: Civil War',
 'Interstellar',
 'Doctor Strange',
 'The Magnificent Seven',
 '5/25/1977',
 'Sausage Party',
 'Moonlight',
 "Don't Fuck in the Woods",
 'The Founder',
 'Lowriders',
 'Pirates of the Caribbean: On Stranger Tides',
 'Miss Sloane',
 'Fallen',
 'Star Trek Beyond',
 'The Last Face',
 'Star Wars: Episode VII - The Force Awakens',
 'Underworld: Blood Wars',
 "Mother's Day",
 'John Wick',
 'The Dark Knight',
 'Silence',
 "Don't Breathe",
 'Me Before You',
 'Their Finest',
 'Sully',
 'Batman v Superman: Dawn of Justice',
 'The Autopsy of Jane Doe',
 'The Girl on the Train',
 'Fifty Shades of Grey',
 'The Prestige',
 'Kingsman: The Secret Service',
 'Patriots Day',
 'Mad Max: Fury Road',
 'Wakefield',
 'Deepwater Horizon',
 'The Promise',
 'Allied',
 'A Monster Calls',
 'Collateral Beauty',
 'Zootopia',
 "Pirates of the Caribbean: At World's End",
 'The Avengers',
 'Inglourious Basterds',
 "Pirates of the Caribbean: Dead Man's Chest",
 'Ghostbusters',
 'Inception',
 'Captain Fantastic',
 'The Wolf of Wall Street',
 'Gone Girl',
 'Furious Seven',
 'Jurassic World',
 'Live by Night',
 'Avatar',
 'The Hateful Eight',
 'The Accountant',
 'Prisoners',
 'Warcraft',
 'The Help',
 'War Dogs',
 'Avengers: Age of Ultron',
 'The Nice Guys',
 'Kimi no na wa',
 'The Void',
 'Personal Shopper',
 'The Departed',
 'Legend',
 'Thor',
 'The Martian',
 'Contratiempo',
 'The Man from U.N.C.L.E.',
 'Hell or High Water',
 'The Comedian',
 'The Legend of Tarzan',
 'All We Had',
 'Ex Machina',
 'The Belko Experiment',
 '12 Years a Slave',
 'The Bad Batch',
 '300',
 'Harry Potter and the Deathly Hallows: Part 2',
 'Office Christmas Party',
 'The Neon Demon',
 'Dangal',
 '10 Cloverfield Lane',
 'Finding Dory',
 "Miss Peregrine's Home for Peculiar Children",
 'Divergent',
 'Mike and Dave Need Wedding Dates',
 'Boyka: Undisputed IV',
 'The Dark Knight Rises',
 'The Jungle Book',
 'Transformers: Age of Extinction',
 'Nerve',
 'Mamma Mia!',
 'The Revenant',
 'Fences',
 'Into the Woods',
 'The Shallows',
 'Whiplash',
 'Furious 6',
 'The Place Beyond the Pines',
 'No Country for Old Men',
 'The Great Gatsby',
 'Shutter Island',
 'Brimstone',
 'Star Trek',
 'Diary of a Wimpy Kid',
 'The Big Short',
 'Room',
 'Django Unchained',
 'Ah-ga-ssi',
 'The Edge of Seventeen',
 'Watchmen',
 'Superbad',
 'Inferno',
 'The BFG',
 'The Hunger Games',
 'White Girl',
 'Sicario',
 'Twin Peaks: The Missing Pieces',
 'Aliens vs Predator - Requiem',
 'Pacific Rim',
 'Crazy, Stupid, Love.',
 'Scott Pilgrim vs. the World',
 'Hot Fuzz',
 'Mine',
 'Free Fire',
 'X-Men: Days of Future Past',
 'Jack Reacher: Never Go Back',
 'Casino Royale',
 'Twilight',
 'Now You See Me 2',
 'Woman in Gold',
 '13 Hours',
 'Spectre',
 'Nightcrawler',
 'Kubo and the Two Strings',
 'Beyond the Gates',
 'Her',
 'Frozen',
 'Tomorrowland',
 'Dawn of the Planet of the Apes',
 'Tropic Thunder',
 'The Conjuring 2',
 'Ant-Man',
 "Bridget Jones's Baby",
 'The VVitch: A New-England Folktale',
 'Cinderella',
 'Realive',
 'Forushande',
 'Love',
 "Billy Lynn's Long Halftime Walk",
 'Crimson Peak',
 'Drive',
 'Trainwreck',
 'The Light Between Oceans',
 'Below Her Mouth',
 'Spotlight',
 'Morgan',
 'Warrior',
 'Captain America: The First Avenger',
 'Hacker',
 'Into the Wild',
 'The Imitation Game',
 'Central Intelligence',
 'Edge of Tomorrow',
 'A Cure for Wellness',
 'Snowden',
 'Iron Man',
 'Allegiant',
 'X: First Class',
 'Raw (II)',
 'Paterson',
 'Bridesmaids',
 'The Girl with All the Gifts',
 'San Andreas',
 'Spring Breakers',
 'Transformers',
 'Old Boy',
 'Thor: The Dark World',
 'Gods of Egypt',
 'Captain America: The Winter Soldier',
 'Monster Trucks',
 'A Dark Song',
 'Kick-Ass',
 'Hardcore Henry',
 'Cars',
 'It Follows',
 'The Girl with the Dragon Tattoo',
 "We're the Millers",
 'American Honey',
 'The Lobster',
 'Predators',
 'Maleficent',
 'Rupture',
 "Pan's Labyrinth",
 'A Kind of Murder',
 'Apocalypto',
 'Mission: Impossible - Rogue Nation',
 "The Huntsman: Winter's War",
 'The Perks of Being a Wallflower',
 'Jackie',
 'The Disappointments Room',
 'The Grand Budapest Hotel',
 'The Host ',
 'Fury',
 'Inside Out',
 'Rock Dog',
 'Terminator Genisys',
 'Percy Jackson & the Olympians: The Lightning Thief',
 'Les Mis√©rables',
 'Children of Men',
 '20th Century Women',
 'Spy',
 'The Intouchables',
 'Bonjour Anne',
 'Kynodontas',
 'Straight Outta Compton',
 'The Amazing Spider-Man 2',
 'The Conjuring',
 'The Hangover',
 'Battleship',
 'Rise of the Planet of the Apes',
 'Lights Out',
 'Norman: The Moderate Rise and Tragic Fall of a New York Fixer',
 'Birdman or (The Unexpected Virtue of Ignorance)',
 'Black Swan',
 'Dear White People',
 'Nymphomaniac: Vol. I',
 'Teenage Mutant Ninja Turtles: Out of the Shadows',
 'Knock Knock',
 'Dirty Grandpa',
 'Cloud Atlas',
 'X-Men Origins: Wolverine',
 'Satanic',
 'Skyfall',
 'The Hobbit: An Unexpected Journey',
 '21 Jump Street',
 'Sing Street',
 'Ballerina',
 'Oblivion',
 '22 Jump Street',
 'Zodiac',
 'Everybody Wants Some!!',
 'Iron Man Three',
 'Now You See Me',
 'Sherlock Holmes',
 'Death Proof',
 'The Danish Girl',
 'Hercules',
 'Sucker Punch',
 'Keeping Up with the Joneses',
 'Jupiter Ascending',
 'Masterminds',
 'Iris',
 'Busanhaeng',
 'Pitch Perfect',
 'Neighbors 2: Sorority Rising',
 'The Exception',
 'Man of Steel',
 'The Choice',
 'Ice Age: Collision Course',
 'The Devil Wears Prada',
 'The Infiltrator',
 'There Will Be Blood',
 'The Equalizer',
 'Lone Survivor',
 'The Cabin in the Woods',
 'The House Bunny',
 "She's Out of My League",
 'Inherent Vice',
 'Alice Through the Looking Glass',
 'Vincent N Roxxy',
 'The Fast and the Furious: Tokyo Drift',
 'How to Be Single',
 'The Blind Side',
 "La vie d'Ad√®le",
 'The Babadook',
 'The Hobbit: The Battle of the Five Armies',
 'Harry Potter and the Order of the Phoenix',
 'Snowpiercer',
 'The 5th Wave',
 'The Stakelander',
 'The Visit',
 'Fast Five',
 'Step Up',
 'Lovesong',
 'RocknRolla',
 'In Time',
 'The Social Network',
 'The Last Witch Hunter',
 'Victor Frankenstein',
 'A Street Cat Named Bob',
 'Green Room',
 'Blackhat',
 'Storks',
 'American Sniper',
 'Dallas Buyers Club',
 'Lincoln',
 'Rush',
 'Before I Wake',
 'Silver Linings Playbook',
 'Tracktown',
 'The Fault in Our Stars',
 'Blended',
 'Fast & Furious',
 'Looper',
 'White House Down',
 "Pete's Dragon",
 'Spider-Man 3',
 'The Three Musketeers',
 'Stardust',
 'American Hustle',
 "Jennifer's Body",
 'Midnight in Paris',
 'Lady Macbeth',
 'Joy',
 'The Dressmaker',
 'Caf√© Society',
 'Insurgent',
 'Seventh Son',
 'The Theory of Everything',
 'This Is the End',
 'About Time',
 'Step Brothers',
 'Clown',
 'Star Trek Into Darkness',
 'Zombieland',
 'Hail, Caesar!',
 'Slumdog Millionaire',
 'The Twilight Saga: Breaking Dawn - Part 2',
 'American Wrestler: The Wizard',
 'The Amazing Spider-Man',
 'Ben-Hur',
 'Sleight',
 'The Maze Runner',
 'Criminal',
 'Wanted',
 'Florence Foster Jenkins',
 'Collide',
 'Black Mass',
 'Creed',
 'Swiss Army Man',
 'The Expendables 3',
 'What We Do in the Shadows',
 'Southpaw',
 'Hush',
 'Bridge of Spies',
 'The Lego Movie',
 'Everest',
 'Pixels',
 'Robin Hood',
 'The Wolverine',
 'John Carter',
 'Keanu',
 'The Gunman',
 'Steve Jobs',
 'Whisky Galore',
 'Grown Ups 2',
 'The Age of Adaline',
 'The Incredible Hulk',
 'Couples Retreat',
 'Absolutely Anything',
 'Magic Mike',
 'Minions',
 'The Black Room',
 'Bronson',
 'Despicable Me',
 'The Best of Me',
 'The Invitation',
 'Zero Dark Thirty',
 'Tangled',
 'The Hunger Games: Mockingjay - Part 2',
 'Vacation',
 'Taken',
 'Pitch Perfect 2',
 'Monsters University',
 'Elle',
 'Mechanic: Resurrection',
 'Tusk',
 "The Headhunter's Calling",
 'Atonement',
 'Harry Potter and the Deathly Hallows: Part 1',
 'Shame',
 'Hanna',
 'The Babysitters',
 'Pride and Prejudice and Zombies',
 '300: Rise of an Empire',
 'London Has Fallen',
 'The Curious Case of Benjamin Button',
 'Sin City: A Dame to Kill For',
 'The Bourne Ultimatum',
 'Srpski film',
 'The Purge: Election Year',
 '3 Idiots',
 'Zoolander 2',
 'World War Z',
 'Mission: Impossible - Ghost Protocol',
 'Let Me Make You a Martyr',
 'Filth',
 'The Longest Ride',
 'The imposible',
 'Kick-Ass 2',
 'Folk Hero & Funny Guy',
 'Oz the Great and Powerful',
 'Brooklyn',
 'Coraline',
 'Blue Valentine',
 'The Thinning',
 'Silent Hill',
 'Dredd',
 'Hunt for the Wilderpeople',
 'Big Hero 6',
 'Carrie',
 'Iron Man 2',
 'Demolition',
 'Pandorum',
 'Olympus Has Fallen',
 'I Am Number Four',
 'Jagten',
 'The Proposal',
 'Get Hard',
 'Just Go with It',
 'Revolutionary Road',
 'The Town',
 'The Boy',
 'Denial',
 'Predestination',
 'Goosebumps',
 'Sherlock Holmes: A Game of Shadows',
 'Salt',
 'Enemy',
 'District 9',
 'The Other Guys',
 'American Gangster',
 'Marie Antoinette',
 '2012',
 'Harry Potter and the Half-Blood Prince',
 'Argo',
 'Eddie the Eagle',
 'The Lives of Others',
 'Pet',
 'Paint It Black',
 'Macbeth',
 'Forgetting Sarah Marshall',
 'The Giver',
 'Triple 9',
 'Perfetti sconosciuti',
 'Angry Birds',
 'Moonrise Kingdom',
 'Hairspray',
 'Safe Haven',
 'Focus',
 'Ratatouille',
 'Stake Land',
 'The Book of Eli',
 'Cloverfield',
 'Point Break',
 'Under the Skin',
 'I Am Legend',
 'Men in Black 3',
 'Super 8',
 'Law Abiding Citizen',
 'Up',
 'Maze Runner: The Scorch Trials',
 'Carol',
 'Imperium',
 'Youth',
 'Mr. Nobody',
 'City of Tiny Lights',
 'Savages',
 '(500) Days of Summer',
 'Movie 43',
 'Gravity',
 'The Boy in the Striped Pyjamas',
 'Shooter',
 'The Happening',
 'Bone Tomahawk',
 'Magic Mike XXL',
 'Easy A',
 'Exodus: Gods and Kings',
 'Chappie',
 'The Hobbit: The Desolation of Smaug',
 'Half of a Yellow Sun',
 'Anthropoid',
 'The Counselor',
 'Viking',
 'Whiskey Tango Foxtrot',
 'Trust',
 'Birth of the Dragon',
 'Elysium',
 'The Green Inferno',
 'Godzilla',
 'The Bourne Legacy',
 'A Good Year',
 'Friend Request',
 'Deja Vu',
 'Lucy',
 'A Quiet Passion',
 'Need for Speed',
 'Jack Reacher',
 'The Do-Over',
 'True Crimes',
 'American Pastoral',
 'The Ghost Writer',
 'Limitless',
 'Spectral',
 'P.S. I Love You',
 'Zipper',
 'Midnight Special',
 "Don't Think Twice",
 'Alice in Wonderland',
 'Chuck',
 'I, Daniel Blake',
 'The Break-Up',
 'Loving',
 'Fantastic Four',
 'The Survivalist',
 'Colonia',
 'The Boy Next Door',
 'The Gift',
 'Dracula Untold',
 'In the Heart of the Sea',
 'Idiocracy',
 'The Expendables',
 'Evil Dead',
 'Sinister',
 'Wreck-It Ralph',
 'Snow White and the Huntsman',
 'Pan',
 'Transformers: Dark of the Moon',
 'Juno',
 'A Hologram for the King',
 'Money Monster',
 'The Other Woman',
 'Enchanted',
 'The Intern',
 'Little Miss Sunshine',
 'Bleed for This',
 'Clash of the Titans',
 'The Finest Hours',
 'Tron',
 'The Hunger Games: Catching Fire',
 'All Good Things',
 'Kickboxer: Vengeance',
 'The Last Airbender',
 'Sex Tape',
 "What to Expect When You're Expecting",
 'Moneyball',
 'Ghost Rider',
 'Unbroken',
 'Immortals',
 'Sunshine',
 'Brave',
 'M√§n som hatar kvinnor',
 'Adoration',
 'The Drop',
 "She's the Man",
 "Daddy's Home",
 'Let Me In',
 'Never Back Down',
 'Grimsby',
 'Moon',
 'Megamind',
 'Gangster Squad',
 'Blood Father',
 "He's Just Not That Into You",
 'Kung Fu Panda 3',
 'The Rise of the Krays',
 'Handsome Devil',
 "Winter's Bone",
 'Horrible Bosses',
 'Mommy',
 'Hellboy II: The Golden Army',
 'Beautiful Creatures',
 'Toni Erdmann',
 'The Lovely Bones',
 'The Assassination of Jesse James by the Coward Robert Ford',
 'Don Jon',
 'Bastille Day',
 "2307: Winter's Dream",
 'Free State of Jones',
 'Mr. Right',
 'The Secret Life of Walter Mitty',
 'Dope',
 'Underworld Awakening',
 'Antichrist',
 'Friday the 13th',
 'Taken 3',
 'Total Recall',
 'X-Men: The Last Stand',
 'The Escort',
 'The Whole Truth',
 'Night at the Museum: Secret of the Tomb',
 'Love & Other Drugs',
 'The Interview',
 'The Host',
 'Megan Is Missing',
 'WALL¬∑E',
 'Knocked Up',
 'Source Code',
 'Lawless',
 'Unfriended',
 'American Reunion',
 'The Pursuit of Happyness',
 'Relatos salvajes',
 'The Ridiculous 6',
 'Frantz',
 'Viral',
 'Gran Torino',
 'Burnt',
 'Tall Men',
 'Sleeping Beauty',
 'Vampire Academy',
 'Sweeney Todd: The Demon Barber of Fleet Street',
 'Solace',
 'Insidious',
 'Popstar: Never Stop Never Stopping',
 'The Levelling',
 'Public Enemies',
 'Boyhood',
 'Teenage Mutant Ninja Turtles',
 'Eastern Promises',
 'The Daughter',
 'Pineapple Express',
 'The First Time',
 'Gone Baby Gone',
 'The Heat',
 "L'avenir",
 'Anna Karenina',
 'Regression',
 'Ted 2',
 'Pain & Gain',
 'Blood Diamond',
 "Devil's Knot",
 'Child 44',
 'The Hurt Locker',
 'Green Lantern',
 'War on Everyone',
 'The Mist',
 'Escape Plan',
 'Love, Rosie',
 'The DUFF',
 'The Age of Shadows',
 'The Hunger Games: Mockingjay - Part 1',
 'We Need to Talk About Kevin',
 'Love & Friendship',
 'The Mortal Instruments: City of Bones',
 'Seven Pounds',
 "The King's Speech",
 'Hunger',
 'Jumper',
 'Toy Story 3',
 'Tinker Tailor Soldier Spy',
 'Resident Evil: Retribution',
 'Dear Zindagi',
 'Genius',
 'Pompeii',
 'Life of Pi',
 "Hachi: A Dog's Tale",
 '10 Years',
 'I Origins',
 'Live Free or Die Hard',
 'The Matchbreaker',
 'Funny Games',
 'Ted',
 'RED',
 'Australia',
 'Faster',
 'The Neighbor',
 'The Adjustment Bureau',
 'The Hollars',
 'The Judge',
 'Closed Circuit',
 'Transformers: Revenge of the Fallen',
 'La tortue rouge',
 'The Book of Life',
 'Incendies',
 'The Heartbreak Kid',
 'Happy Feet',
 'Entourage',
 'The Strangers',
 'Noah',
 'Neighbors',
 'Nymphomaniac: Vol. II',
 'Wild',
 'Grown Ups',
 'Blair Witch',
 'The Karate Kid',
 'Dark Shadows',
 'Friends with Benefits',
 'The Illusionist',
 'The A-Team',
 'The Guest',
 'The Internship',
 'Paul',
 'This Beautiful Fantastic',
 'The Da Vinci Code',
 'Mr. Church',
 'Hugo',
 "The Blackcoat's Daughter",
 'Body of Lies',
 'Knight of Cups',
 'The Mummy: Tomb of the Dragon Emperor',
 'The Boss',
 'Hands of Stone',
 'El secreto de sus ojos',
 'True Grit',
 'We Are Your Friends',
 'A Million Ways to Die in the West',
 'Only for One Night',
 "Rules Don't Apply",
 'Ouija: Origin of Evil',
 'Percy Jackson: Sea of Monsters',
 'Fracture',
 'Oculus',
 'In Bruges',
 'This Means War',
 'L√≠da Baarov√°',
 'The Road',
 'Lavender',
 'Deuces',
 'Conan the Barbarian',
 'The Fighter',
 'August Rush',
 'Chef',
 'Eye in the Sky',
 'Eagle Eye',
 'The Purge',
 'PK',
 "Ender's Game",
 'Indiana Jones and the Kingdom of the Crystal Skull',
 'Paper Towns',
 'High-Rise',
 'Quantum of Solace',
 'The Assignment',
 'How to Train Your Dragon',
 'Lady in the Water',
 'The Fountain',
 'Cars 2',
 '31',
 'Final Girl',
 'Chalk It Up',
 'The Man Who Knew Infinity',
 'Unknown',
 'Self/less',
 'Mr. Brooks',
 'Tramps',
 'Before We Go',
 'Captain Phillips',
 'The Secret Scripture',
 'Max Steel',
 'Hotel Transylvania 2',
 'Hancock',
 'Sisters',
 'The Family',
 'Zack and Miri Make a Porno',
 'Ma vie de Courgette',
 'Man on a Ledge',
 'No Strings Attached',
 'Rescue Dawn',
 'Despicable Me 2',
 'A Walk Among the Tombstones',
 "The World's End",
 'Yoga Hosers',
 'Seven Psychopaths',
 'Beowulf',
 'Jack Ryan: Shadow Recruit',
 '1408',
 'The Gambler',
 'Prince of Persia: The Sands of Time',
 'The Spectacular Now',
 'A United Kingdom',
 'USS Indianapolis: Men of Courage',
 'Turbo Kid',
 'Mama',
 'Orphan',
 'To Rome with Love',
 'Fantastic Mr. Fox',
 'Inside Man',
 'I.T.',
 '127 Hours',
 'Annabelle',
 'Wolves at the Door',
 'Suite Fran√ßaise',
 'The Imaginarium of Doctor Parnassus',
 'G.I. Joe: The Rise of Cobra',
 'Christine',
 'Man Down',
 'Crawlspace',
 'Shut In',
 'The Warriors Gate',
 'Grindhouse',
 'Disaster Movie',
 'Rocky Balboa',
 'Diary of a Wimpy Kid: Dog Days',
 'Jane Eyre',
 "Fool's Gold",
 'The Dictator',
 'The Loft',
 'Bacalaureat',
 "You Don't Mess with the Zohan",
 'Exposed',
 'Maudie',
 'Horrible Bosses 2',
 'A Bigger Splash',
 'Melancholia',
 'The Princess and the Frog',
 'Unstoppable',
 'Flight',
 'Home',
 'La migliore offerta',
 'Mean Dreams',
 '42',
 '21',
 'Begin Again',
 'Out of the Furnace',
 'Vicky Cristina Barcelona',
 'Kung Fu Panda',
 'Barbershop: The Next Cut',
 'Terminator Salvation',
 'Freedom Writers',
 'The Hills Have Eyes',
 'Changeling',
 'Remember Me',
 'Koe no katachi',
 'Alexander and the Terrible, Horrible, No Good, Very Bad Day',
 'Locke',
 'The 9th Life of Louis Drax',
 'Horns',
 'Indignation',
 'The Stanford Prison Experiment',
 'Diary of a Wimpy Kid: Rodrick Rules',
 'Mission: Impossible III',
 'En man som heter Ove',
 'Dragonball Evolution',
 'Red Dawn',
 'One Day',
 'Life as We Know It',
 '28 Weeks Later',
 'Warm Bodies',
 'Blue Jasmine',
 'Wrath of the Titans',
 'Shin Gojira',
 'Saving Mr. Banks',
 'Transcendence',
 'Rio',
 'Equals',
 'Babel',
 'The Tree of Life',
 'The Lucky One',
 'Piranha 3D',
 '50/50',
 'The Intent',
 'This Is 40',
 'Real Steel',
 'Sex and the City',
 'Rambo',
 'Planet Terror',
 'Concussion',
 'The Fall',
 'The Ugly Truth',
 'Bride Wars',
 'Sleeping with Other People',
 'Snakes on a Plane',
 'What If',
 'How to Train Your Dragon 2',
 'RoboCop',
 'In Dubious Battle',
 'Hello, My Name Is Doris',
 "Ocean's Thirteen",
 'Slither',
 'Contagion',
 'Il racconto dei racconti - Tale of Tales',
 'I Am the Pretty Thing That Lives in the House',
 'Bridge to Terabithia',
 'Coherence',
 'Notorious',
 'Goksung',
 'The Expendables 2',
 'The Girl Next Door',
 'Perfume: The Story of a Murderer',
 'The Golden Compass',
 'Centurion',
 'Scouts Guide to the Zombie Apocalypse',
 '17 Again',
 'No Escape',
 'Superman Returns',
 'The Twilight Saga: Breaking Dawn - Part 1',
 'Precious',
 'The Sea of Trees',
 'Good Kids',
 'The Master',
 'Footloose',
 'If I Stay',
 'The Ticket',
 'Detour',
 'The Love Witch',
 'Talladega Nights: The Ballad of Ricky Bobby',
 'The Human Centipede (First Sequence)',
 'Super',
 'The Siege of Jadotville',
 'Up in the Air',
 'The Midnight Meat Train',
 'The Twilight Saga: Eclipse',
 'Transpecos',
 "What's Your Number?",
 'Riddick',
 'Triangle',
 'The Butler',
 'King Cobra',
 'After Earth',
 'Kicks',
 'Me and Earl and the Dying Girl',
 'The Descendants',
 'Sex and the City 2',
 'The Kings of Summer',
 'Death Race',
 'That Awkward Moment',
 'Legion',
 'End of Watch',
 '3 Days to Kill',
 'Lucky Number Slevin',
 'Trance',
 'Into the Forest',
 'The Other Boleyn Girl',
 'I Spit on Your Grave',
 'Custody',
 'Inland Empire',
 "L'odyss√©e",
 'The Walk',
 'Wrecker',
 'The Lone Ranger',
 'Texas Chainsaw 3D',
 'Disturbia',
 'Rock of Ages',
 'Scream 4',
 'Queen of Katwe',
 'My Big Fat Greek Wedding 2',
 'Dark Places',
 'Amateur Night',
 "It's Only the End of the World",
 'The Skin I Live In',
 'Miracles from Heaven',
 'Annie',
 'Across the Universe',
 "Let's Be Cops",
 'Max',
 'Your Highness',
 'Final Destination 5',
 'Endless Love',
 'Martyrs',
 'Selma',
 'Underworld: Rise of the Lycans',
 'Taare Zameen Par',
 'Take Me Home Tonight',
 'Resident Evil: Afterlife',
 'Project X',
 'Secret in Their Eyes',
 'Hostel: Part II',
 'Step Up 2: The Streets',
 'Search Party',
 'Nine Lives']

In [42]:
movies.head()

   Index                    Title   ...    Rating  Revenue
0      0  Guardians of the Galaxy   ...       8.1   333.13
1      1               Prometheus   ...       7.0  126.46M
2      2                    Split   ...       7.3  138.12M
3      3                     Sing   ...       7.2   270.32
4      4            Suicide Squad   ...       6.2   325.02

[5 rows x 9 columns]

In [43]:
movies["Year"] == 2012

0      False
1       True
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
968    False
969    False
970     True
971    False
972    False
973    False
974    False
975    False
976    False
977    False
978    False
979    False
980    False
981    False
982    False
983    False
984    False
985    False
986    False
987    False
988    False
989    False
990    False
991    False
992     True
993    False
994    False
995    False
996    False
997    False
Name: Year, Length: 998, dtype: bool

In [44]:
movies[movies["Year"] == 2012]

     Index                                      Title   ...    Rating  Revenue
1        1                                 Prometheus   ...       7.0  126.46M
76      76                               The Avengers   ...       8.1   623.28
124    124                      The Dark Knight Rises   ...       8.5   448.13
135    135                 The Place Beyond the Pines   ...       7.3    21.38
144    144                           Django Unchained   ...       8.4   162.8M
151    151                           The Hunger Games   ...       7.2      408
211    211                            Spring Breakers   ...       5.3    14.12
235    235            The Perks of Being a Wallflower   ...       8.0    17.74
245    245                             Les Mis√©rables   ...       7.6  148.78M
256    256                                 Battleship   ...       5.8    65.17
267    267                                Cloud Atlas   ...       7.5     27.1
270    270                                    Skyfall   ...       7.8   304.36
271    271          The Hobbit: An Unexpected Journey   ...       7.9      303
272    272                             21 Jump Street   ...       7.2  138.45M
291    291                              Pitch Perfect   ...       7.2       65
302    302                     The Cabin in the Woods   ...       7.0    42.04
333    333                                    Lincoln   ...       7.4   182.2M
336    336                    Silver Linings Playbook   ...       7.8  132.09M
341    341                                     Looper   ...       7.4    66.47
365    365  The Twilight Saga: Breaking Dawn - Part 2   ...       5.5    292.3
367    367                     The Amazing Spider-Man   ...       7.0   262.03
388    388                                John Carter   ...       6.6    73.06
398    398                                 Magic Mike   ...       6.1  113.71M
405    405                           Zero Dark Thirty   ...       7.4    95.72
436    436                              The imposible   ...       7.6       19
445    445                                      Dredd   ...       7.1     13.4
454    454                                     Jagten   ...       8.3     0.61
473    473                                       Argo   ...       7.7  136.02M
484    484                           Moonrise Kingdom   ...       7.8    45.51
495    495                             Men in Black 3   ...       6.8  179.02M
..     ...                                        ...   ...       ...      ...
562    562                             Wreck-It Ralph   ...       7.8  189.41M
563    563                Snow White and the Huntsman   ...       6.1  155.11M
582    582       What to Expect When You're Expecting   ...       5.7     41.1
588    588                                      Brave   ...       7.2   237.28
620    620                       Underworld Awakening   ...       6.4    62.32
624    624                               Total Recall   ...       6.3    58.88
636    636                                    Lawless   ...       7.3     37.4
638    638                           American Reunion   ...       6.7    56.72
660    660                             The First Time   ...       6.9     0.02
664    664                              Anna Karenina   ...       6.6     12.8
689    689                 Resident Evil: Retribution   ...       5.4    42.35
693    693                                 Life of Pi   ...       7.9  124.98M
700    700                                        Ted   ...       7.0   218.63
724    724                               Dark Shadows   ...       6.2    79.71
752    752                             This Means War   ...       6.3    54.76
793    793                             Man on a Ledge   ...       6.6     18.6
800    800                          Seven Psychopaths   ...       7.2    14.99
812    812                          To Rome with Love   ...       6.3    16.68
830    830             Diary of a Wimpy Kid: Dog Days   ...       6.4       49
833    833                               The Dictator   ...       6.4    59.62
844    844                                     Flight   ...       7.3    93.75
871    871                                   Red Dawn   ...       5.4     44.8
877    877                        Wrath of the Titans   ...       5.8    83.64
885    885                              The Lucky One   ...       6.5    60.44
889    889                                 This Is 40   ...       6.2    67.52
914    914                          The Expendables 2   ...       6.6    85.02
927    927                                 The Master   ...       7.1    16.38
955    955                               End of Watch   ...       7.7    40.98
970    970                               Rock of Ages   ...       5.9    38.51
992    992                                  Project X   ...       6.7    54.72

[64 rows x 9 columns]

In [45]:
movies[movies["Year"] == 2012].head()

     Index                       Title   ...    Rating  Revenue
1        1                  Prometheus   ...       7.0  126.46M
76      76                The Avengers   ...       8.1   623.28
124    124       The Dark Knight Rises   ...       8.5   448.13
135    135  The Place Beyond the Pines   ...       7.3    21.38
144    144            Django Unchained   ...       8.4   162.8M

[5 rows x 9 columns]

In [46]:
movies[movies["Year"] == 2012]["Rating"]

1      7.0
76     8.1
124    8.5
135    7.3
144    8.4
151    7.2
211    5.3
235    8.0
245    7.6
256    5.8
267    7.5
270    7.8
271    7.9
272    7.2
291    7.2
302    7.0
333    7.4
336    7.8
341    7.4
365    5.5
367    7.0
388    6.6
398    6.1
405    7.4
436    7.6
445    7.1
454    8.3
473    7.7
484    7.8
495    6.8
      ...
562    7.8
563    6.1
582    5.7
588    7.2
620    6.4
624    6.3
636    7.3
638    6.7
660    6.9
664    6.6
689    5.4
693    7.9
700    7.0
724    6.2
752    6.3
793    6.6
800    7.2
812    6.3
830    6.4
833    6.4
844    7.3
871    5.4
877    5.8
885    6.5
889    6.2
914    6.6
927    7.1
955    7.7
970    5.9
992    6.7
Name: Rating, Length: 64, dtype: float64

In [47]:
movies[movies["Year"] == 2012]["Rating"].describe()

count    64.000000
mean      6.925000
std       0.775006
min       5.300000
25%       6.400000
50%       7.000000
75%       7.425000
max       8.500000
Name: Rating, dtype: float64

In [48]:
movies.describe()

            Index         Year     Runtime      Rating
count  998.000000   998.000000  998.000000  998.000000
mean   498.500000  2012.779559  113.170341    6.723447
std    288.242086     3.207549   18.828877    0.945682
min      0.000000  2006.000000   66.000000    1.900000
25%    249.250000  2010.000000  100.000000    6.200000
50%    498.500000  2014.000000  111.000000    6.800000
75%    747.750000  2016.000000  123.000000    7.400000
max    997.000000  2016.000000  191.000000    9.000000

In [49]:
movies[movies["Year"] == 2012].describe()

            Index    Year     Runtime     Rating
count   64.000000    64.0   64.000000  64.000000
mean   531.046875  2012.0  119.109375   6.925000
std    258.508446     0.0   21.832782   0.775006
min      1.000000  2012.0   83.000000   5.300000
25%    325.250000  2012.0  102.000000   6.400000
50%    531.500000  2012.0  114.500000   7.000000
75%    731.000000  2012.0  132.500000   7.425000
max    992.000000  2012.0  172.000000   8.500000

In [50]:
movies.loc[0, "Title"]

'Guardians of the Galaxy'

In [51]:
movies.head()

   Index                    Title   ...    Rating  Revenue
0      0  Guardians of the Galaxy   ...       8.1   333.13
1      1               Prometheus   ...       7.0  126.46M
2      2                    Split   ...       7.3  138.12M
3      3                     Sing   ...       7.2   270.32
4      4            Suicide Squad   ...       6.2   325.02

[5 rows x 9 columns]

In [52]:
movies.Rating.mean()

6.723446893787578